:root {
    --main-color: #E5E5E5;
    --additional-color: #2196F3;
    --type-color: #212121;
    --mini-calor: #757575;
    --phone-color: #2F303A;
    --fast-animation: 1s;
    --card-set-gap: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--type-color);
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

.no-scroll {
    overflow: hidden;
}

.page-header {
    margin-top: 24px;
    margin-bottom: 25px;

}

.page-head {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}



/*List*/

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Container*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
.logo1 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    vertical-align: top;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}

.logo1__accent {
    color: var(--type-color);
}

/*Main-nav*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Site-nav*/
.site-nav {
    display: flex;
    margin-left: 93px;
}

.item {
    margin-right: 50px;

}

.item:last-child {
    margin-right: 0px;
}

.site-nav__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--type-color);
    display: block;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    position: relative;
}

.site-nav__studio--active {
    color: var(--additional-color);
}

.site-nav__studio::after {
    content: "";
    width: 48px;
    height: 4px;
    display: block;
    position: absolute;
    background-color: var(--additional-color);
    bottom: -33px;
    border-radius: 2px;
}

.site-nav__info:hover {
    color: var(--additional-color);
    background-color: transparent;

}

/*Logo-links*/
.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

/*Phone*/
.contacts-list__phone {
    width: 10px;
    height: 16px;

    fill: var(--mini-calor);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.list__icons {
    margin-right: 10px;
}

.contacts-list__mail {
    width: 16px;
    height: 12px;
    fill: var(--mini-calor);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link1 {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--mini-calor);
    align-items: center;
    text-decoration: none;
    display: flex;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*contacts-list*/
.contacts-list {
    display: flex;
}

.points {
    margin-right: 50px;
}

.points:last-child {
    margin-right: 0px;
}

.contacts-list__link1:hover .contacts-list__mail {
    fill: var(--additional-color);
}

.contacts-list__link1:hover .contacts-list__phone {
    fill: var(--additional-color);
}

.contacts-list__link1:hover {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--additional-color);
}

/*Герой*/

.hero {
    height: 600px;
    padding: 200px 0;
    text-align: center;
    background-color: var(--phone-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}


.btn {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--additional-color);
    cursor: pointer;
    outline: none;
    border: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: 700;
    height: 48px;
    width: 200px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover {
    background-color: #188CE8;
}

.topic {
    width: 100%;
    background-color: var(--phone-color);
}

/*Модальное Окно*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 80ms, visbility 80ms;
    z-index: 1000;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-17%, 17%);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

}

.close-button:hover {
    fill: var(--additional-color);
}

.close-button-icon {
    width: 11px;
    height: 11px;
}

/*Инпуты*/
.sign-up-form {
    padding: 40px;
}


.form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sign-up-form .form-field label {
    font-size: 12px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--mini-calor);
}

.form-field__style:hover {
    border-color: var(--additional-color);
    outline: var(--additional-color);
}

.form-field__style:focus {
    border-color: var(--additional-color);
    outline: var(--additional-color);
}

.form-field__style:hover+.form-field__icon,
.form-field__style:focus+.form-field__icon {
    fill: var(--additional-color);

}


.form-field__icon:focus,
.form-field__icon:hover {
    fill: var(--additional-color);
}


.sign-up-form .form-field textarea:hover {
    border-color: var(--additional-color);
    outline: var(--additional-color);
}


.sign-up-form .form-field textarea:focus {
    border-color: var(--additional-color);
    outline: var(--additional-color);
}

.form-field__style {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-window {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.sign-up-form textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    cursor: pointer;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box {
    width: 16px;
    height: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
}

.div-box {
    margin-top: 20px;
}

.text-color {
    text-decoration: underline;
    color: var(--additional-color);
    margin-left: 4px;
}

.text-size {
    resize: none;
}

.form-field__icon {
    position: absolute;
    transform: translate(12px, 32px);

}

.text-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.check-icon {
    width: 15px;
    height: 16px;
    border: 2px solid #212121;
    display: inline-block;
    border-radius: 2px;
    margin-right: 7px;


}

.check-box:checked+.check-icon {
    background-image: url(../photos/svg/icon\ check.svg);
    background-position: center;
    background-color: var(--additional-color);
    background-origin: border-box;
    border-color: var(--additional-color);
    background-repeat: no-repeat;
}

/*Thumb*/
.thumb {
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.thumb__link {
    height: 70px;
    left: 0;
    width: 70px;

}



/*Feature-list*/

.feature-list {
    display: flex;
    justify-content: center;

}

.feature-list .marks {
    margin-right: 30px;
}

.feature-list .marks:last-child {
    margin-right: 0px;
}

.thumb-banner {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: var(--type-color);
    text-transform: uppercase;
    margin-bottom: 10px;

}

.thumb-description {
    width: 270px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
}

/*Modificator*/

.modificator {
    padding-top: 0;
}

/*Photos*/

.photos {
    display: flex;
    width: 100%;
}

.work-photos {
    margin-right: 30px;
}

.work-photos:last-child {
    margin-right: 0px;
}

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
    margin-bottom: 50px;
}

.img-wrapper {
    position: relative;
}

.img {
    display: block;
}

.photo-description {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    color: white;
}

/*Команда*/
.members {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-style {
    padding-top: 30px;
    padding-bottom: 30px;
}

.style {
    background-color: #F5F4FA;

}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
    margin-bottom: 50px;
}

/*Social-media*/
.social-media {
    display: flex;
    justify-content: center;
}

.social-media__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__items:not(:last-child) {
    margin-right: 10px;
}

.social-media__links:hover,
.social-media__links:focus,
.icon:hover,
.icon:focus {
    fill: white;
    background-color: var(--additional-color);
}

.icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Card-set*/
.card-set {
    display: flex;
    padding: 0;
}


/*Company*/

.card-set .company {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
}

.company:first-child {
    margin-left: 0px;
}


.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 10px;
    margin-bottom: 16px;
}

/*Клиенты*/

.clients-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}


.clients-list {
    display: flex;
    padding: 0;
    margin-top: -50px;
    margin-left: -30px;
    margin-bottom: 0;
}

.clients-box {
    height: 90px;
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    list-style-type: none;
    flex-basis: calc((100% - 120px) / 6);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 170px;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .clients-photo-1 {
    width: 42px;
    height: 46px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover,
.clients-focus {
    border: 1px solid #2196f3;

}

.clients-link:hover .clients-photo-1,
.clients-link:focus .clients-photo-1 {
    fill: var(--additional-color);
}

.clients-list .clients-photo-2 {
    width: 40px;
    height: 52px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-photo-2,
.clients-link:focus .clients-photo-2 {
    fill: var(--additional-color);

}

.clients-list .clients-photo-3 {
    width: 44px;
    height: 41px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-photo-3,
.clients-link:focus .clients-photo-3 {
    fill: var(--additional-color);

}

.clients-list .clients-photo-4 {
    width: 84px;
    height: 40px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-photo-4,
.clients-link:focus .clients-photo-4 {
    fill: var(--additional-color);

}

.clients-list .clients-photo-5 {
    width: 62px;
    height: 45px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-photo-5,
.clients-link:focus .clients-photo-5 {
    fill: var(--additional-color);

}

.clients-list .clients-photo-6 {
    width: 94px;
    height: 44px;
    fill: #AFB1B8;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.clients-link:hover .clients-photo-6,
.clients-link:focus .clients-photo-6 {
    fill: var(--additional-color);
}

/* --Portfolio-page */


.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list .button-type {
    margin-left: 8px;
}

.btn-current {
    font-size: 16px;
    line-height: 1.6;
    Letter-spacing: 0.03em;
    color: var(--type-color);
    font-weight: 500;
    font-family: inherit;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #F5F4FA;
    border-color: #F5F4FA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--current-color {
    background-color: var(--additional-color);
    color: white;
}

.btn-current :hover {
    cursor: pointer;
    background-color: var(--additional-color);
    color: white;
}

/*Cards-type__about*/
.cards-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1* var(--card-set-gap));
    margin-top: calc(-1* var(--card-set-gap));
}


.cards-type .cards-type__about {
    flex-basis: calc(100% /3 - 30px);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.cards-type__wrapper {
    position: relative;
    overflow: hidden;
}

/*overlay*/
.portfolio-overlay {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: white;
    width: 370px;
    height: 294px;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(140%);
    transition: 400ms;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.cards-type__about:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-type__about:hover .portfolio-overlay {
    transform: translateY(0);

}

/*Card-content*/

.card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

}


.card-content__goods {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--type-color);
}

.card-content__description {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 4px;
    margin-bottom: 0;
}

/*footer*/
footer {
    background-color: var(--phone-color);
    padding: 60px 0;

}

.main-footer {
    display: flex;
    flex-direction: column;
}

.main-address {
    display: flex;
}

.information {
    justify-content: center;
    margin-left: 0;
}

.class-address-main {
    margin-top: 20px;
    margin-bottom: 9px;
}

.class-address {
    margin-bottom: 9px;
}

.logo-mainer {
    color: white;
}

.reference {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    flex-direction: column;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
    margin-bottom: 9px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.information a:hover {
    color: var(--additional-color);

}

/*Дополнительный Адресс*/
.additional-address {
    margin-left: 70px;
}

.address-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 0;
}

.address-apps {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.address-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-items:last-child {
    margin-right: 0px;

}

.address-icons {
    width: 20px;
    height: 20px;
    fill: white;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-items:hover,
.address-items:focus,
.address-icons:hover,
.address-icons:focus {
    background-color: var(--additional-color);

}

/*Окно-для-рользователя*/

.user-window {
    margin-left: 93px;
}

.text-form {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.input-list {
    margin-top: 20px;
}

.btn-form {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: 12px;
}

.icon-btn {
    width: 24px;
    height: 24px;
    fill: white;
    margin-left: 10px;
    transform: translateY(6px);
}

.input-form {
    width: 358px;
    height: 50px;
    background-color: var(--phone-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;

}