:root {
    --main-color: #E5E5E5;
    --additional-color: #2196F3;
    --type-color: #212121;
    --mini-calor: #757575;
    --phone-color: #2F303A;
    --fast-animation: 1s;
    --card-set-gap: 30px;
}