.cards-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;

    @media screen and (min-width:768px) {
        padding-top: 30px;
        padding-bottom: 60px;
        justify-content: flex-start;
    }

    @media screen and (min-width:1200px) {
        padding-top: 56px;
        padding-bottom: 94px;
    }


}

.cards-type .cards-type__about {
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

    @media screen and (min-width:480px) and (max-width:767px) {
        margin-left: 0px;
    }

    @media screen and (min-width:768px) {
        flex-basis: calc(100% /2 - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc(100% /3 - 30px);
    }
}

.cards-type__wrapper {
    position: relative;
    overflow: hidden;
}

/*Card-content*/

.card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

}


.card-content__goods {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--type-color);
}

.card-content__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 4px;
    margin-bottom: 0;
}

/*overlay*/
.portfolio-overlay {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(140%);
    transition: 400ms;

    @media screen and (min-width:480px) {
        width: 450px;
        height: 294px;
    }

    @media screen and (min-width:768px) {
        width: 354px;
        height: 294px;
    }

    @media screen and (min-width:1200px) {
        width: 370px;
        height: 294px;
    }
}



.cards-type__about {
    &hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .portfolio-overlay {
        transform: translateY(0);

    }
}