.style {
    background-color: #F5F4FA;
}


.members {
    display: block;
    max-width: 100%;
    height: auto;
}


.team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);

    @media screen and (min-width:768px) {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
    }

    @media screen and (min-width:1200px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
    }

}

.card-style {
    padding-top: 30px;
    padding-bottom: 30px;
}



/*Company*/
.card-set {
    display: flex;


    @media screen and (min-width:480px) {
        padding-top: 30px;
        padding-bottom: 60px;
        display: block;
        margin-bottom: -30px;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding-top: 30px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
        padding-top: 50px;
        display: flex;
    }

    & .company {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-left: 30px;
        background-color: #FFFFFF;
        background-color: #FFFFFF;

        @media screen and (min-width:480px) {
            margin-bottom: 30px;
        }

        @media screen and (min-width:768px) and (max-width:1199px) {
            flex-basis: 40%;

        }
    }

}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);

}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 10px;
    margin-bottom: 16px;
}